<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Esorb.Certificate.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Esorb.Certificate.App.Certificate" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Esorb.Certificate.App.Properties.Settings>
   <setting name="DatabasePath" serializeAs="String">
    <value>C:\Users\frank\Documents\Versuche.db</value>
   </setting>
   <setting name="SchoolClass" serializeAs="String">
    <value />
   </setting>
   <setting name="SchoolYear" serializeAs="String">
    <value />
   </setting>
   <setting name="HalfYear" serializeAs="String">
    <value />
   </setting>
   <setting name="Teacher" serializeAs="String">
    <value />
   </setting>
   <setting name="OutputFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="TeacherGUID" serializeAs="String">
    <value />
   </setting>
   <setting name="SchoolClassGUID" serializeAs="String">
    <value />
   </setting>
   <setting name="Page" serializeAs="String">
    <value>Start</value>
   </setting>
   <setting name="SubPage" serializeAs="String">
    <value />
   </setting>
   <setting name="MenuPosition" serializeAs="String">
    <value>wide</value>
   </setting>
  </Esorb.Certificate.App.Properties.Settings>
		<Esorb.Certificate.App.Certificate>
			<setting name="ConnectionString" serializeAs="String">
				<value>Data Source = C:\Users\frank\Documents\Versuche.db;Version=3;</value>
			</setting>
			<setting name="Klasse" serializeAs="String">
				<value />
			</setting>
			<setting name="Zeugnis" serializeAs="String">
				<value />
			</setting>
			<setting name="Lehrer" serializeAs="String">
				<value />
			</setting>
		</Esorb.Certificate.App.Certificate>
	</userSettings>
</configuration>